@using Questionnaire.Models;

<section class="pragraph">
    <p>غالباً هر انسانی در طول زندگی، خود را با صفات و ویژگی‌های شخصیتی خاصی می شناسد که می تواند تعیین‌کننده‌ی تمایلات و رفتارهای او در موقعیت‌های گوناگون باشند.</p>
    <p>در لیست زیر به برخی صفات و رفتارهای مرتبط با آن‌ها اشاره می‌شود. لطفاً پاسخ متناسب با ویژگی‌های خود را با انتخاب یکی از گزینه‌ها مشخص نمایید.</p>
    <p>لازم به ذکر است هیچ پاسخ درست یا نادرستی وجود ندارد، لطفاً به تمام سؤالات پاسخ دهید.</p>
</section>

<section class="form">
    <form class="frm-questions" method="post" role="form">
        @foreach (MySqlModel.Question Q in (List<MySqlModel.Question>)ViewData["Questions"])
        {
            string qName = string.Format("dark{0}", Q.id);
            string v1 = string.Format("{0}v1", qName);
            string v2 = string.Format("{0}v2", qName);
            string v3 = string.Format("{0}v3", qName);
            string v4 = string.Format("{0}v4", qName);
            string v5 = string.Format("{0}v5", qName);
            string v6 = string.Format("{0}v6", qName);
            string v7 = string.Format("{0}v7", qName);
            <div class="form-group">
                <header>@Q.question</header>

                <input type="radio" name="@qName" id="@v1" value="1" />
                <label for="@v1" class="seventh">کاملاً مخالفم</label>

                <input type="radio" name="@qName" id="@v2" value="2" />
                <label for="@v2" class="seventh">مخالفم</label>

                <input type="radio" name="@qName" id="@v3" value="3" />
                <label for="@v3" class="seventh">تا حدودی مخالفم</label>

                <input type="radio" name="@qName" id="@v4" value="4" />
                <label for="@v4" class="seventh">نظری ندارم</label>

                <input type="radio" name="@qName" id="@v5" value="5" />
                <label for="@v5" class="seventh">تا حدودی موافقم</label>

                <input type="radio" name="@qName" id="@v6" value="6" />
                <label for="@v6" class="seventh">موافقم</label>

                <input type="radio" name="@qName" id="@v7" value="7" />
                <label for="@v7" class="seventh">کاملاً موافقم</label>
            </div>
        }
        <input type="submit" value="صفحه بعد" />
    </form>
</section>
